@font-face {
  font-family: 'NanumSquareRound';
  /*src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');*/
  src: url('asset/font/NanumSquareRoundR.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { font-family: "NanumSquareRoundL"; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

